<div>
  <% @memo.each do |memo| %>
    <form action='/memos/<%= memo["id"] %>' method="POST">
      <div><input type="text" name="title" value="<%= memo["title"] %>"></div>
      <div><textarea name="content"><%= memo["content"] %></textarea></div>
      <div class="form-action">
        <input type="hidden" name="_method" value="PATCH">
        <input type="submit" value="保存">
      </div>
    </form>
  <% end %>
</div>
