<html>
  <head>
    <title>memo_app</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <article>
      <h1>メモアプリ</h1>
      <%= yield %>
    </article>
  </body>
</html>
