<section>
  <% @data["memos"].each do |memo| %>
  <% if memo["id"] == @id %>
      <h2><%= memo["title"] %></h2>
      <p><%= memo["content"] %></p>
    <% end %>
  <% end %>
</section>
<section>
<div class="form-action">
  <div style="display:inline-flex">
    <form action="/">
      <input type="submit" value="TOPに戻る" />
    </form>
    <form action="/memos/<%= @id %>/edit">
      <input type="submit" value="編集" />
    </form>
    <form action="/memos/<%= @id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="削除" />
    </form>
  </div>
</div>
</section>
